@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

body {
  margin: 0;
  padding: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;

  width: 100vw;
  height: 100vh;
}

.Menu {
  background-color: white;
  border-radius: 35px;
  border: 1px solid black;
  height: 90vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.Logo_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}

.Logo {
  color: #3d5fda;
  font-size: 100px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}
.Logo p {
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.menu_inp {
  display: flex;
  border: 2px solid black;
  width: 810px;
  height: 50px;
  box-sizing: border-box;
}

.menu_inp input {
  flex: 1;
  border: none;
  font-size: 16px;
  padding: 0 10px;
  height: 100%;
}

.menu_inp input:focus {
  outline: none;
}

.menu_inp input::placeholder {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;

  font-size: 20px;
}

.menu_inp button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 100%;
  background-color: #ffffff;
  border-left: 2px solid black;

  width: 50px;
}

.menu_inp button:hover {
  background-color: #d9d9d9;
}

.menu_inp img {
  width: 28px;
  height: 28px;
  display: block;
  margin: 0px auto;
}

.Data {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.Data_container {
  display: flex;
  position: relative;
}
.Data img {
  height: 300px;
  width: 300px;
  border-radius: 20px;
}

.Data p {
  background-color: rgba(0, 0, 0, 0.113);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 70px;
  text-wrap: nowrap;
  margin-top: 0;
  color: white;
}
